.nav-1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 247, 255);
}
.logo{
    height: 50px;
    width: 50px;
    border-radius: 32px;
    margin-top: 10px;
    margin-left: 4px;
}

body{
    margin: 0;
    background-color: rgb(217, 254, 255);
}


  
.nav-item1{
    float: left;
  }
  
.nav-item1 a {
    display:inline-block;
    color: white;
    text-align: center;
    padding: 25px 25px;
    text-decoration: none;
    font-size: larger;
    color: black;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:bolder;
  }
  
.nav-item1 a:hover {
    background-color: rgb(255, 255, 255);
}

.abt{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    
    

}
.abt-1{
    text-align: justify;
    padding: 0px 50px;
    color: rgb(0, 0, 0);
    font-size: large;
}

.abt-2{
    flex: 1;
    order: 2;
    flex-basis: 50%;
}
.abt-main{
    text-align: center;
} 
.heading{
    margin-left: 47px;
    color: blue;
    font-size: xx-large;
}

.his{
    display: flex;
    justify-content: space-between;

}

.his .his-view{
    width:30%;
}
.image{
    padding-top: 20px;

}

.his-view{
    flex:1;
    border: 2px solid black;

}


.container{
    padding-top: 60px;
    display:flex;
    justify-content: space-evenly;
    padding-bottom: 100px;

}

.box{
    width:500px;
}

.box_2{
    font-size: large;
}

.abt-banner{
    width:100%;
    height:50%;
}

.help,.help-2{
    text-align: center;
    padding: 30px;
}

.in{
    border-radius: 5px;
    height: 20px;
}


.image-2{
    width:400px;
    height:300px;
}

.container-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px 0px;
    
}

.c-box{
    width: 300px;
    border: 2px solid black;
    text-align: center;
    border-width: 3px;
    border-radius: 4px;
    padding:20px 0px;
}

.heading-2{
    margin-left:35px;
    color: rgb(109, 61, 231);
    font-size: xx-large;
}

tr:hover{
    background-color: rgb(41, 153, 186);
    border-style:ridge;
}

table{
    border-collapse: collapse;
    margin: auto;
    width:60%
}

td,th{
    border:1px solid white;
    height:20px;
}

.table1{
    padding:30px 0px;
    text-align: center;
}

.heading-3,.heading-5{
    margin-left:25px;
    color: rgb(109, 61, 231);
    font-size: x-large;
}

.register{

    border: radius 5px;;
    margin: auto;
    padding: 10px 0px;
    width: 50%;
    text-align: center;
    background-color: rgb(187, 243, 248);
}
.register-main{
    padding: 10px;
}

.field{
    border-radius: 4px;
    border-color: black;
}

.heading-4{
    color: rgb(109, 61, 231);
    font-size: x-large;
}

.l{
    padding:2px;
    text-decoration: none;


}

.gmap-head{
    padding:6px;
    text-align: center;
    font-size: large;
}

.car{

    padding: 30px;
}

.fest{
    height: 500px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding:40px,0px;
}

.fest_box{
    width:40%;
    text-align: justify;
    
}